:root {
  /* fonts */
  --body-font: "JetBrains Mono", monospace;
  --header-font: "Oswald", sans-serif;

  /* DEFAULT*/
  --default-background-color: #303446;
  --default-body-text-color: #c6d0f5;
  --default-body-heading-color: #a6d189;
  --default-menu-button-color: #81c8be;
  --default-nav-background-color: #232634;
  --default-link-text-color-primary: #e5c890;
  --default-link-text-color-secondary: #f4b8e4; 

  /* NIC THEME */
  --nic-background-color: #ede3da;
  --nic-body-heading-color: #4c463e;
  --nic-body-text-color: #1d3fa5;
  --nic-menu-button-color: #193b67;
  --nic-nav-background-color: #c0deff;
  --nic-link-text-color-primary: #1d3368;
  --nic-link-text-color-secondary: #4e4232;

  /* JEN THEME */
  --jen-background-color: #382f8e;
  --jen-body-heading-color: #c3d4fe;
  --jen-body-text-color: #e7dc98;
  --jen-menu-button-color: #cadfec;
  --jen-nav-background-color: #221b60;
  --jen-link-text-color-primary: #cdbcf5;
  --jen-link-text-color-secondary: #bde9f4;

  /* KYLAN THEME */
  --kyl-background-color: #544087;
  --kyl-body-heading-color: #ffde5c;
  --kyl-body-text-color: #fffbe0;
  --kyl-menu-button-color: #ecd8fd;
  --kyl-nav-background-color: #3d2970;
  --kyl-link-text-color-primary: #a3ffc8;
  --kyl-link-text-color-secondary: #fce3f1;

  /* NAT THEME */
  --nat-background-color: #c8d7c6;
  --nat-body-heading-color: #2a4419;
  --nat-body-text-color: #44392c;
  --nat-menu-button-color: #5f4335;
  --nat-nav-background-color: #afc2ad;
  --nat-link-text-color-primary: #2f2f1d;
  --nat-link-text-color-secondary: #534b23; 

  /* colors */
  --background-color: var(--default-background-color);
  --body-heading-color: var(--default-body-heading-color);
  --body-text-color: var(--default-body-text-color);
  --menu-button-color: var(--default-menu-button-color);
  --nav-background-color: var(--default-nav-background-color);
  --link-text-color-primary: var(--default-link-text-color-primary);
  --link-text-color-secondary: var(--default-link-text-color-secondary);
  
  /* box padding, border, margins */
  --form-box-margin: 1rem;
  --form-box-padding: .75rem;
}

/*===================== General/Text Styling =====================*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

main {
  max-width: 54rem;
  margin: 1rem auto;
}

p, li, ul button {
  font-family: var(--body-font);
  color: var(--body-text-color);
  line-height: 1.5;
  font-size: .875rem;
}

p {
  text-indent: 2.5rem;
}

section p {
  padding: 0 2rem;
}

section ul {
  padding: 0 2rem;
}

section {
  margin: 3rem 0;
}

p {
  text-indent: 2.5rem;
}

section p {
  padding: 0 2rem;
}

section ul {
  padding: 0 2rem;
}

section {
  margin: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--body-heading-color);
  font-family: var(--header-font);
  margin: 1rem;
}

h1 {
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
}

h3 { 
  padding: 0 1rem;
}

/*--------------- Link Styling ---------------*/
a {
  color: var(--link-text-color-primary);
  text-decoration: none;
}

a:visited:not(footer a) {
  color: var(--link-text-color-secondary);
}

a:hover, a:active {
  border: none;
  font-style: italic;
  text-decoration: underline;
}

a:focus {
  border: 2px dotted var(--link-text-color-secondary);
  outline: none;
}

a:active {
  color: var(--link-text-color-secondary);
}


/*===================== Header Styling =====================*/
header {
  grid-row: span 2;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  background-color: var(--nav-background-color);
}

/*--------------- Menu Button ---------------*/
.button-1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--menu-button-color);
  display: block;
  position: fixed;
  top: .375rem;
  right: .375rem;
}

.button-1 .line {
  transition: transform 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}

.button-1[aria-expanded=true] .line {
  transition: transform 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  transform-origin: center;
}

.button-1[aria-expanded=true] :is(.ham-top, .ham-bottom) {
  transform: translateY(45px);
}

.button-1[aria-expanded=true] .ham-top {
  rotate: 45deg;
  transform: translate(3px, 29px);
}

.button-1[aria-expanded=true] .ham-middle {
  opacity: 0;
}

.button-1[aria-expanded=true] .ham-bottom {
  rotate: -45deg;
  transform: translate(-3px, -31px);
}


/*--------------- Navigation ---------------*/
nav {
  margin: var(--form-box-margin);
  background-color: var(--nav-background-color);
  position: fixed;
  top: 2.8125rem;
  right: 0;
}

nav > ul {
  display: none;
  list-style: none;
  text-transform: uppercase;
}

nav ul li {
  padding: var(--form-box-padding);
}

/*===================== Main Styling =====================*/
main {
  padding-top: 4rem;
  grid-column: 2 / 3;
}

/*--------------- Theme Buttons ---------------*/
#theme-button-container {
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section:nth-of-type(5) h2 {
  margin-bottom: 1rem; 
}

section:nth-of-type(5) ul {
  margin: 0 2rem;
}

section:nth-of-type(7) h2 {
  margin-bottom: 1rem; 
}

section:nth-of-type(7) ul {
  margin: 0 2rem; 
}

ul button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--body-text-color);
  border-radius: 8px;
  background-color: var(--nav-background-color);
  color: var(--body-text-color);
  filter: drop-shadow(2px 2px var(--menu-button-color));
  min-width: 7.8125rem;
}

ul button:hover {
  filter: drop-shadow(4px 4px var(--link-text-color-primary));
}

/*===================== Footer Styling =====================*/
footer {
  grid-column: 2 / 3;
  width: 100%;
  text-align: center;
  background-color: var(--nav-background-color);
}

/*///////////////////// Media Queries at 768px /////////////////////*/
@media screen and (min-width: 48em) {
  /*=============== General/Text MQ ==============*/
  .grid-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
  }

  p, li, ul button {
    font-size: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  /*------------------ Link MQ ------------------*/
  a {
    font-size: 1.25rem;
  }

  /*================= Header MQ =================*/
  header {
    grid-row: span 2;
    background-color: transparent;
    
  }

  /*--------------- Menu Button MQ --------------*/
  .button-1 {
    display: none;
  }

  /*--------------- Navigation MQ ---------------*/
  nav {
    margin: 0;
    padding-left: 1.5rem;
    padding-top: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 16rem;
    height: 100%;
  }

  nav, nav > ul {
    display: block;
  }

  /*================== Main MQ ==================*/
  main {
    padding-top: 1rem; 
    grid-column: 2 / 3;
    margin: 1rem auto;
  }

  p {
    margin-bottom: 1.5rem; 
    line-height: 1.7;
  }

  #demo {
    margin: 2rem 0;
  }

  #resources {
    margin: 2rem 0;
  }
  
  /*================= Footer MQ =================*/
  footer {
    margin-top: 0rem;
    background-color: var(--nav-background-color);
  }
}