:root {
  /* fonts */
  --body-font: "JetBrains Mono", monospace;
  --header-font: "Oswald", sans-serif;

  /* color palette THIS WILL BE EDITED DOWN SIGNIFICANTLY ONCE WE KNOW WHAT COLORS WE ARE USING*/
  /* --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;
  --text: #c6d0f5;
  --subtext1: #b5bfe2;
  --subtext0: #a5adce;
  --overlay2: #949cbb;
  --overlay1: #838ba7;
  --overlay0: #737994;
  --surface2: #626880;
  --surface1: #51576d;
  --surface0: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634; */

  /* colors */
  --background-color: #303446;
  --body-text-color: #c6d0f5;
  --menu-button-color: #81c8be;
  --nav-background-color: #232634;
  --link-text-color-primary: #e5c890;
  --link-text-color-secondary: #babbf1;

  
  /* box padding, border, margins */
  --form-box-margin: 1rem;
  --form-box-padding: .75rem;
}

/*===================== General/Text Styling =====================*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

p, li {
  font-family: var(--body-font);
  /* font-optical-sizing: auto; */
  color: var(--body-text-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  /* font-optical-sizing: auto; */
}

h1 {
  text-transform: uppercase;
  display: block;
}

/*--------------- Link Styling ---------------*/
a {
  color: var(--link-text-color-primary);
  text-decoration: none;
}

a:visited {
  color: var(--link-text-color-secondary);
}

a:hover, a:active {
  border: none;
  font-style: italic;
  text-decoration: underline;
}

a:focus {
  border: 2px dotted var(--link-text-color-secondary);
  outline: none;
}

a:active {
  color: var(--link-text-color-secondary);
}


/*===================== Header Styling =====================*/
header {
  /* was expecting this to make the nav span across all the rows(vertically) will have to solve later*/
  grid-row: span 2;
}

/*--------------- Menu Button ---------------*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--menu-button-color);
  display: block;
  position: fixed;
  top: .375rem;
  right: .375rem;
}

.button-1 .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}

.button-1[aria-expanded=true] .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  transform-origin: center;
}

.button-1[aria-expanded=true] :is(.ham-top, .ham-bottom) {
  y: 45;
}

.button-1[aria-expanded=true] .ham-top {
  rotate: 45deg;
}

.button-1[aria-expanded=true] .ham-middle {
  opacity: 0;
}

.button-1[aria-expanded=true] .ham-bottom {
  rotate: -45deg;
}


/*--------------- Navigation ---------------*/
nav {
  margin: var(--form-box-margin);
  background-color: var(--nav-background-color);
  position: fixed;
  top: 2.8125rem;
  right: 0;
}

nav > ul {
  display: none;
  list-style: none;
  text-transform: uppercase;
}

nav ul li {
  padding: var(--form-box-padding);
}

/*===================== Main Styling =====================*/

/* Can be broken up into sections later*/

/*===================== Footer Styling =====================*/
footer {
  grid-column: 2 / 3;
  width: 100%;
  text-align: center;
}

/*///////////////////// Media Queries at 768px /////////////////////*/
@media screen and (min-width: 48em) {
  /*=============== General/Text MQ ==============*/
  .grid-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
    gap: 1rem;
  }

  /*------------------ Link MQ ------------------*/
  a {
    font-size: 1.25rem;
  }

  /*================= Header MQ =================*/
  /*--------------- Menu Button MQ --------------*/
  button {
    display: none;
  }

  /*--------------- Navigation MQ ---------------*/
  nav, nav > ul {
    display: block;
  }

  nav {
    margin: 0;
    padding-left: 1.5rem;
    padding-top: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 16rem;
    height: 100%;
  }

  /*================== Main MQ ==================*/
  /*================= Footer MQ =================*/
}